.card__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 20px 22px 21px;
  background-color: #ffffff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
